[Unit]
Description=ScriptyCord discord bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
Environment=ENVIRONMENT_TYPE=qa
WorkingDirectory=/your/path/here/ScriptyCord.Bot/
ExecStart=/your/path/here/ScriptyCord.Bot/ScriptyCord.Bot

[Install]
WantedBy=multi-user.target
